$row-padding: $base-line-height;
$column-padding: $base-line-height;

.left, .base-left {
	float: left;
}

.right, .base-right {
	float: right;
}

.clear {
	@include clearfix(); 
}

.overflow {
	overflow: hidden;
}

@include breakpoint( medium ) {
	
	.base-left, .base-right {
		float: none;
	}
	
	.medium-left {
		float: left;
	}
	
	.medium-right {
		float: right;
	}
}

@include breakpoint( medium ) {
	.top-left, .top-right, .bottom-left, .bottom-right, .middle-left, .middle-right {
		position: absolute;
	}
	
	.top-left, .top-right {
		top: $column-padding;
	}
	
	.top-left {
		left: $column-padding;
	}
	
	.top-right {
		right: $column-padding;
	}
	
	.bottom-left, .bottom-right {
		bottom: $column-padding;
	}
	
	.bottom-left {
		left: $column-padding;
	}
	
	.bottom-right {
		right: $column-padding;
	}
	
	.middle-left, .middle-right {
		top: 50%;
	}
	
	.middle-left {
		left: $column-padding;
	}
	
	.middle-right {
		right: $column-padding;
	}
}

.inline-list {
	li {
		display: inline-block;
	}
}

.centered {
	float: none !important;
	margin: 0 auto;
}