@font-face {
	font-family: 'icomoon';
	src:url('#{$icon-path}icomoon.eot?np0hpw');
	src:url('#{$icon-path}icomoon.eot?#iefixnp0hpw') format('embedded-opentype'),
		url('#{$icon-path}icomoon.woff?np0hpw') format('woff'),
		url('#{$icon-path}icomoon.ttf?np0hpw') format('truetype'),
		url('#{$icon-path}icomoon.svg?np0hpw#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-star:before {
	content: "\e600";
}
.icon-home:before {
	content: "\e601";
}
.icon-bell-alt:before {
	content: "\e603";
}
.icon-search:before {
	content: "\e604";
}
.icon-remove:before {
	content: "\e605";
}
.icon-edit:before {
	content: "\e606";
}
.icon-comment:before {
	content: "\e608";
}
.icon-angle-right:before {
	content: "\e60a";
}
.icon-angle-left:before {
	content: "\e60b";
}
.icon-reorder:before {
	content: "\e60c";
}
.icon-user:before {
	content: "\e60f";
}
.icon-ellipsis:before {
	content: "\e60d";
}
.icon-compass2:before {
	content: "\e609";
}
.icon-retweet:before {
	content: "\e60e";
}
.icon-forward:before {
	content: "\e607";
}
