img, video, object {
max-width: 100%;
height: auto;
}

.squeeze-figure {
  overflow: hidden;
  
  @include breakpoint( medium ) {
    height: 18em;
  }
  
  @include breakpoint( large ) {
    height: 19.5em;
  }
}

.round {
	@include border-radius(50%);
	overflow: hidden;
}